<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.messagingapp.app">
    <!-- use internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- use camera -->
    <uses-feature android:name="android.hardware.camera.any" /> <!-- use camera -->
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="24" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/yammi_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/yammi_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MessagingApp">
        <activity
            android:name=".videoplayer.VideoPlayerActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".topic.TopicActivity"
            android:exported="false" />
        <activity
            android:name=".createtopic.CreateTopicActivity"
            android:exported="false" />
        <activity
            android:name=".topiclist.TopicListActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".connect.ConnectActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>